@font-face {
    font-family: first-font ;
    src: url(./GrgcKwrN6d3Uz8EwcLHZxwEfC4.woff2);
}

@font-face {
    font-family: second-font ;
    src: url(./v2q8JTTTs7McDMSEhnxAIBqd0.woff2);
}

@font-face {
    font-family: third-font;
    src: url(./yDtI2UI8XcEg1W2je9XPN3Noo.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
nav {
    width: 100%;
    background-color: #001d21;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1176px;
    padding: 14px 0px ;
}
.nav-left {
    display: flex;
    gap: 30px;
    align-items: center;
    color: white;
    cursor: pointer;
}

.nav-left h4{
    font-family: "second-font";
    font-weight: 400;
}

.nav-right button {
    font-family: "first-font";
    font-weight: 400;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
}

main{
    background-color: #001d21;
}

.section-1{
    display: flex;
    flex-direction: column;
    gap:30px;
    max-width: 1176px;
    margin: auto;
}

.text-container{
    width: 100%;
    padding: 52px 52px 10px 0px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    gap:12px;
    width: 60%;
}

.text-wrapper h1{
    font-size: 60px;
    font-weight: 400;
    font-family: "first-font";
    color:  rgb(205, 203, 255);
}

.text-wrapper p{
    color: white;
    font-family: "second-font";
    padding: 10px 10px 20px 0px;
}
.text-wrapper button{
    font-family: "first-font";
    width: fit-content; 
    font-weight: 400;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
}

.image-container img{
    width: 100%;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.main-2{
    background-color: rgb(242, 242, 242) ;
    margin-top: -10px;
    z-index: 1;
    position: relative;
}

.section-2{
    display: flex;
    width: 1176px;
    margin: auto;
    padding: 50px 0px 0px 0px;
}

.section-2 .left{
    width: 60%;
}

.section-2 .left p {
    font-family: "first-font";
    font-size: 19px;
}


.section-2 .right .top{
    font-family: "second-font";
}
.section-2 .bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
}
.bottom-card{
    border-left: 1px solid #4e4e4e3a;
    padding: 12px;
}

.bottom-card h2{
    font-family: "second-font";
    font-size: 36px;
}

.bottom-card p{
    font-family: "second-font";
    font-size: 16px;
    color: #4e4e4e;
    padding-top: 12px;
}



.section-3{
    max-width: 1176px; 
    display: flex;
    margin: auto;
    align-items: center;
    gap:30px;
    padding: 64px 0px 54px 0px;
}

.section-3 .left-container{
    width: 50%;
}

.section-3 .right-container{
    width: 50%;
}

.main-3 .section-3 .left-container .left span{
    color: black;
    font-size: 20px;
}
.section-3 .left-container .left p{
    font-family: "first-font";
    font-size: 16px;
    padding-bottom: 25px;
}

.left h1{
    font-family: "second-font";
    font-size: 60px;
}

.section-3 .right-container .right img{
    width: 100%;
    border-radius: 15%;
}